<form action="/figures/<%=@figure.id%>" method="post">
  <label for="figure_name">Name:</label> <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>"><br><br>
  <label>Landmarks:</label>
  <% @landmarks.each do |lm| %>
  <br><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=lm.id%>" value="<%=lm.id%>"><label for="landmark_<%=lm.id%>" <%='checked' if @figure.landmarks.include?(lm)%>><%=lm.name%></label>
  <% end %><br><br>
  <label>Titles:</label>
  <% @titles.each do |t| %>
    <br><input type="checkbox" name="figure[title_ids][]" id="title_<%=t.id%>" value="<%=t.id%>"><label for="title_<%=t.id%>"><%=t.name%></label>
  <% end %><br><br>
  <label>Create New Landmark: </label><br>
  <label for="new_landmark">Landmark Name:</label> <input type="text" name="landmark[name]" id="new_landmark"><br>
  <label for="new_landmark_year_completed">Year Completed:</label> <input type="text" name="landmark[year_completed]" id="new_landmark_year_completed"><br><br>
  <label for="landmark_name">Create New Title: </label><br>
  <label for="new_title">Name of Title:</label> <input type="text" name="title[name]" id="new_title"><br><br>
  <input type="submit" name="" value="Edit Figure">
</form>
